/* .container{
    background-color: #C6D5C3;
    font-family: 'Bebas Neue', cursive;
    color: #3E4E50;
    background-image: url(../../assets/images/background.png);
}
h1{
    padding-top: 15%;
} */